<div>
    <h1> Choose one of your address</h1>
    <div *ngFor="let address of user.allAddress; let i = index;">
        <input type="radio" id="i+1" [checked]="idxAddress === i+1" (change)="onAddressSelectionChange(i+1)" name="address"
            value={{i+1}}>
        <label for="i">{{address.street1}} {{address.city}} {{address.country}}</label>
    </div>
    <div>
        <h1> Use a new address for this order </h1>
        <input type="radio" id="0" [checked]="idxAddress === 0" (change)="onAddressSelectionChange(0)" name="address"
            value=0>
        <div>
            <label class="form-control-label" for="field_street1">Street 1</label>
            <input type="text" class="form-control" name="street1" id="field_street1" [(ngModel)]="newAddress.street1"
                required />
            <label class="form-control-label" for="field_street2">Street 2</label>
            <input type="text" class="form-control" name="street2" id="field_street2" [(ngModel)]="newAddress.street2" />
            <label class="form-control-label" for="field_zipCode">Zip code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode" [(ngModel)]="newAddress.zipCode"
                required />
            <label class="form-control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city" [(ngModel)]="newAddress.city" required />
            <label class="form-control-label" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country" [(ngModel)]="newAddress.country"
                required />
        </div>
    </div>
</div>