<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="login.title">Add address</h4>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p> Do you want to remember this address for the future ? </p>
            <div>
                <button (click)="cancel()" class="myButton">Proceed without saving</button>
                <button (click)="confirm()" class="myButton">Save and proceed</button>
            </div>
        </div>
    </div>
</div>