<div class="modal-header">
    <h4 class="modal-title" >Add address</h4>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p > Do you want to remember this address for the future ? </p>
            <div class="row">
                <button (click)="cancel()" class="btn col-12 btnPadding" >Proceed without saving</button>
                <button (click)="confirm()" class="btn col-12 btnPadding" >Save and proceed</button>
                <button (click)="cancelNextStep()" class="btn col-12 btnPadding" >Cancel</button>

            </div>
        </div>
    </div>
</div>
