<p>
  <div [ngSwitch]="this.principal.isAuthenticated()">
    <div *ngSwitchCase="false">
      You need to be logged in order to add products to your cart.
      <button class="btn" (click)="logIn()">Connect</button>
    </div>
    <div *ngSwitchCase="true">
      <h2>Your order:</h2>
      <div *ngIf="this.cartIsEmpty()">
        <div class="alert alert-warning">You haven't added any products yet</div>
        <button routerLink="/" class="btn btn-secondary">Go back to shopping</button>
      </div>
      <div *ngIf="!this.cartIsEmpty()">
        <div *ngIf="this.confirmation">
            <jhi-my-cart-item [cartProducts]="this.cartProducts" [basket]="this.basket"></jhi-my-cart-item>
        </div>
      </div>
      <div *ngIf="!this.confirmation">Loading...</div>
    </div>
  </div>
</p>