<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Product</th>
    <th scope="col">Quantity</th>
    <th scope="col">Price per unit</th>
    <th scope="col">Total</th>
  </tr>
  <tbody>
    <tr *ngFor="let item of this.cartProducts">
          <td><img class="img-thumbnail" style="max-width: 150px;" src="{{ item.allImageUrl[0].url }}" alt=""> {{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.price * item.quantity }}</td>
        </tr>
  </tbody>
  <div>{{ this.cartProducts.length }}</div>
</table>
