/* ==========================================================================
    Navbar New Design
========================================================================== */
.search-form {
    width: 40%;
}

.search-form div {
    width: 100%;
}

.search-form input {
    width: 80%;
}

.count-items-cart {
    position: absolute;
    top: 0px;
    right: 8px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link,
.span-cart {
    color: #fff;
}

.cart-icon::before {
    vertical-align: middle;
    color: #fff;
}

.span-cart {
    display: block;
}

.span-cart:hover {
    cursor: pointer;
}

.user-nav-icon {
    display: block;
}

.category-dropdown {
    height: 30px;
    width: 100%;
    bottom: -30px;
    left: 0;
    z-index: 1;
    background: #d4af37;
    color: #fff;
}

.category-dropdown a {
    width: 100%;
    height: 100%;
    border-style: none;
    font-size: 1em;
    padding: 0%;
    transition: all 0.1s linear;
}

.dropdown-category-ul {
    width: 100%;
    text-align: center;
}

.fa-icon {
    font-weight: 1.5em;
}

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
    font-size: 2em;
    color: #ccc;
}

.jh-navbar {
    background-color: rgb(39, 38, 38);
    padding: 0em 0em;
    font-size: 1.1em;
    color: white;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #fff;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

.marginCat {
    margin-right: 10px;
}

.whiteText {
    color: white;
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
            background-size: contain;
        }
    }
    font-size: 1.2em;
    vertical-align: middle;
}
.images_petit {
    width: 34px;
    height: 34px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #33adff;
    border-radius: 50%;
    display: inline-block;
}
