/* ==========================================================================
    Navbar New Design
========================================================================== */
.navbar-dark .navbar-nav .nav-link,
.span-cart {
    color: #fff;
}

.cart-icon::before {
    vertical-align: middle;
    color: #fff;
}

.span-cart {
    display: block;
    padding-top: 0.4em;
}

.span-cart:hover {
    cursor: pointer;
}

.user-nav-icon {
    display: block;
}

.nav-item-cart {
    padding-top: 0.4em;
}

.category-dropdown {
    height: 40px;
    width: 100%;
    bottom: -40px;
    left: 0;
    z-index: 1;
    background: grey;
    color: #fff;
}

.category-dropdown a {
    width: 100%;
    height: 100%;
    border-style: none;
    font-size: 1.4em;
    padding: 0%;
    transition: all 0.1s linear;
}

.dropdown-category-ul {
    width: 100%;
    text-align: center;
}

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
    font-size: 2em;
    color: #ccc;
}

.jh-navbar {
    background-color: #ff3e33;
    padding: 0em 1em;
    font-size: 1.1em;
    color: white;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #fff;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

.marginCat {
    margin-right: 10px;
}

.whiteText {
    color: white;
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
            background-size: contain;
        }
    }
    font-size: 1.8em;
    vertical-align: middle;
}
.images_petit {
    width: 34px;
    height: 34px;
}
