<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price per unit</th>
      <th scope="col">Total</th>
    </tr>
  <tbody>
    <tr *ngFor="let item of this.basket;let i = index; ">
      <td>
        <img class="img-thumbnail" style="max-width: 150px;" src="{{ this.getInfoProduct( item.prod ).allImageUrl[0].url }}"
          alt="">
        <a class="alert-link" [routerLink]="['/displayProduct', item.prod]">{{ this.getInfoProduct( item.prod ).name }}</a>
        <div *ngIf="!this.verifyStock( item )" class="alert alert-warning">
          The product is no more available in our stocks, please change the quantity or delete de product to proceed.
        </div>
      </td>
      <td>
        <div class="row">
          <input type="number" (keypress)="preventKeyboard($event)" class="form-control col-2" value="{{ item.quantity }}" [(ngModel)]="this.quantities[i]" (change)="updateQuantity(i)" min="0" max="{{this.cartProducts[i].quantity}}"/>
          <button class="btn btn-primary col-3" *ngIf="this.modifiedItem[i]" (click)="buttonUpdate(i)">Modify quantity</button>
          <button class="btn btn-danger col-2" (click)="removeFromBasket(i)">X</button>
          <div class="col-3" *ngIf="this.modifiedItem[i]"></div>
        </div>
      </td>
      <td>{{ this.getInfoProduct( item.prod ).price }}</td>
      <td>{{ this.getInfoProduct( item.prod ).price * item.quantity }}</td>
    </tr>
    <tr *ngIf="this.stockErrors" class="alert alert-warning">
        <td colspan="4">
            One or multiple products are not available in our stocks, please change the quantity or delete them to proceed the checkout.
        </td>
    </tr>
    <tr class="separator">
      <td colspan="3">Total</td>
      <td>{{ this.totalCost }} EUR</td>
    </tr>
    
    <tr>
        <td colspan="3"></td>
        <td>
          <button [disabled]="this.stockErrors" (click)="pay()" class="btn btn-primary">Initiate the order</button>
        </td>
    </tr>
  </tbody>
</table>
<div class="row justify-content-end">
  
    
  
</div>

