.separator {
    border-top: 2px solid #dee2e6;
}

.spacingButton {
    margin-right: 10px;
}

.paddingFix {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    cursor: default;
}
