<div>
    <h1> Recap of the order </h1>
    <p>Date : {{order.date}}</p>
    <p>Send to : {{order.user.lastName}} {{order.user.firstName}}</p>
    <p>At address : {{order.address.street1}} {{order.address.city}} {{order.address.country}}</p>
    <p>Transportation : {{order.transportationMethod.name}}</p>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price per unit</th>
                <th scope="col">Total</th>
            </tr>
        <tbody>
            <tr *ngFor="let item of this.cartProducts;let i = index; ">
                <td>{{
                    item.name }}</td>
                <td>{{ order.orderLine[i].quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.price * order.orderLine[i].quantity }}</td>
            </tr>
            <tr class="separator">
                <td colspan="3">Total</td>
                <td>{{order.totalPrice}}</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>
                    <button *ngIf="!hasValidate" (click)="validate()" class="btn btn-primary">Pass command</button>
                    <mat-progress-spinner *ngIf="hasValidate" [diameter]="40" [color]="'blue'" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </td>
            </tr>
        </tbody>
    </table>
</div>