<h1 jhiTranslate="order-trad.title">Order detail</h1>
<div *ngIf="loadingDone" class="card" style="margin-bottom : 10px ;">
    <div class="card-header">
        <span jhiTranslate="order-trad.date" translateValues="{date: '{{order.date}}'}"class="d-inline-block" >Ordered the : {{order.date}} |
        </span>
        <span  class="d-inline-block" jhiTranslate="order-trad.id" translateValues="{id: '{{order.id}}'}">
            Order id : {{order.id}}
        </span>
        <span class="d-inline-block float-right">
            Status : {{order.state}}
        </span>
    </div>
    <div class="card-body">
        <p class="card-text" jhiTranslate="order-trad.deliver" translateValues="{value: '{{order.user.lastName}} {{order.user.firstName}} ({{order.user.login}})'}">Deliver to : {{order.user.lastName}} {{order.user.firstName}} ({{order.user.login}})</p>
        <p class="card-text" jhiTranslate="order-trad.at" translateValues="{value: '{{order.address.street1}} {{order.address.street2}} {{order.address.city}} {{order.address.zipCode}} {{order.address.country}}'}">At : {{order.address.street1}} {{order.address.street2}} {{order.address.city}}
            {{order.address.zipCode}} {{order.address.country}}</p>
        <p class="card-text" jhiTranslate="order-trad.by" translateValues="{value: '{{order.transportationMethod.name}}'}">By : {{order.transportationMethod.name}}</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" jhiTranslate="order-trad.product">Product</th>
                    <th scope="col" jhiTranslate="order-trad.quantity">Quantity</th>
                    <th scope="col" jhiTranslate="order-trad.unit">Price per unit</th>
                    <th scope="col" jhiTranslate="order-trad.total">Total</th>
                </tr>
            <tbody>
                <tr *ngFor="let item of order.orderLine;let i = index; ">
                    <td>
                        <img class="img-thumbnail" style="max-width: 150px;" src="{{ this.products[i].allImageUrl[0].url }}"
                            alt="">
                        <a class="alert-link" [routerLink]="['/displayProduct', item.prod]">{{ this.products[i].name }}</a>
                    </td>
                    <td>
                        {{item.quantity}}
                    </td>
                    <td>{{ this.products[i].price }}</td>
                    <td>{{ this.products[i].price * item.quantity }}</td>
                </tr>
                <tr class="separator">
                    <td colspan="3">Total</td>
                    <td>{{ order.totalPrice }} EUR</td>
                </tr>
            </tbody>
        </table>
        <a *ngIf="!downloading" (click)="generatePDF()" class="btn btn-primary" jhiTranslate="order-trad.pdf">Download pdf</a>
        <mat-progress-spinner *ngIf="downloading" [diameter]="40" [color]="'blue'" [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div>
</div>