<h1>Order detail</h1>
<div *ngIf="loadingDone" class="card" style="margin-bottom : 10px ;">
    <div class="card-header">
        <span class="d-inline-block">Ordered the : {{order.date}} |
        </span>
        <span class="d-inline-block">
            Order id : {{order.id}}
        </span>
        <span class="d-inline-block float-right">
            Status : {{order.state}}
        </span>
    </div>
    <div class="card-body">
        <p class="card-text">Deliver to : {{order.user.lastName}} {{order.user.firstName}}</p>
        <p class="card-text">At : {{order.address.street1}} {{order.address.street2}} {{order.address.city}}
            {{order.address.zipCode}} {{order.address.country}}</p>
        <p class="card-text">By : {{order.transportationMethod.name}}</p>
        <p class="card-text" *ngFor="let p of products;let i = index;">{{p.name}} {{order.orderLine[i].quantity}}
            {{p.price}}</p>
        <p class="card-text">Total price : {{order.totalPrice}}</p>
        <a (click)="generatePDF()" class="btn btn-primary">Print pdf</a>
    </div>
</div>