<h1>Your Order</h1>

<hr />
<div class="row">
    <div class="col-9">
        <div [ngSwitch]="step" class="row">
            <jhi-transport-management *ngSwitchCase=1 [order]=order class="col-12"></jhi-transport-management>
            <jhi-address-page *ngSwitchCase=2 [order]=order class="col-12"></jhi-address-page>
            <jhi-validation-page *ngSwitchCase=3 [order]=order class="col-12"></jhi-validation-page>
        </div>
        <div class="row">
            <div class="col-12">
                <button *ngIf="step != 1" (click)="previousStep()" class="btn btn-primary">Previous step</button>
                <button *ngIf="step != 3" (click)="nextStep()" class="btn btn-primary float-right" >Next step</button>
            </div>
        </div>
        
        
    </div>
    
    <div class="col-3">
        <jhi-order-summary [order]=order></jhi-order-summary>
    </div>
</div>