<div class="card card-cascade narrower"  style="width: 300px ; height: 300px">

    <!--Card image-->
    <a [routerLink]="['/displayProduct', product.id]">
        <div class="view view-cascade overlay">
            <img  [src]="mainImage" class="card-img-top"   class="rounded mx-auto d-block"
                  style="width: 150px">
        </div>
    </a>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body card-body-cascade text-center">
        <!--Title-->
        <a [routerLink]="['/displayProduct', product.id]">
            <h5 class="card-title"><strong>{{product.name}}</strong></h5>
        </a>
        <h6 class="indigo-text"><strong>{{product.price}} Euros</strong></h6>

        <a>
            <button type="button" class="btn btn-mg btn-primary">Add to Cart </button>
        </a>
    </div>
    <!--/.Card content-->

</div>
</div>
<!--/.Card Wider-->

