<div class="panel">
    <a [routerLink]="['/displayProduct', product.id]">
        <img class="img-fluid" [src]="mainImage"  />
    </a>
    <div class="panel-body">
        <p class="clearfix">
                            <span class="float-left">
                        <small class="mr-sm">Quantité :<a>{{product.quantity}}</a>
                        </small>

                     </span>
            <span class="float-right">
                        <small>
                           <strong>{{product.price}}</strong>
                           <span>EUROS</span>
                            </small>
                            </span>
        </p>
        <h4><a class="alert-link" [routerLink]="['/displayProduct', product.id]">{{product.name}}</a>
        </h4>
    </div>
</div>
