<div class="card card-cascade narrower" style="height: 300px">

    <!--Card image-->
    <a [routerLink]="['/displayProduct', product.id]">
        <div class="img-container view view-cascade overlay mx-auto">
            <img [src]="mainImage" class="card-img-top" class="rounded mx-auto d-block" style="width: 150px">
        </div>
    </a>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body card-body-cascade text-center">
        <!--Title-->
        <a [routerLink]="['/displayProduct', product.id]">
            <h5 class="card-title"><strong>{{product.name}}</strong></h5>
        </a>
        <h6 class="indigo-text"><strong>{{product.price}} Euros</strong></h6>
        <button *ngIf="isAuthenticated() && canPressButton()" (click)="click()" type="button" class="btn btn-mg btn-primary" >Add to Cart
        </button>
        <mat-progress-spinner *ngIf="!canPressButton()" style="margin:0 auto;" [diameter]="40" [color]="'blue'" [mode]="'indeterminate'">
        </mat-progress-spinner>

    </div>
    <!--/.Card content-->

</div>
<!--/.Card Wider-->
