<div class="card" style="margin-bottom : 10px ;">
    <a [routerLink]="['/detailedOrder', order.id]" class="card-header">Order id : {{order.id}}</a>
    <div class="card-body">
        <p class="card-text">Command done the : {{order.date}}</p>
        <p class="card-text">Deliver to : {{order.user.lastName}} {{order.user.firstName}} ({{order.user.login}})</p>
        <p class="card-text">At : {{order.address.street1}} {{order.address.street2}} {{order.address.city}} {{order.address.zipCode}} {{order.address.country}}</p>
        <p class="card-text">By : {{order.transportationMethod.name}}</p>
        <p class="card-text">Status : {{order.state}}</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price per unit</th>
                    <th scope="col">Total</th>
                </tr>
            <tbody>
                <tr *ngFor="let item of order.orderLine;let i = index; ">
                    <td>
                        <img class="img-thumbnail" style="max-width: 150px;" src="{{ this.products[i].allImageUrl[0].url }}"
                            alt="">
                        <a class="alert-link" [routerLink]="['/displayProduct', item.prod]">{{ this.products[i].name }}</a>
                    </td>
                    <td>
                        {{item.quantity}}
                    </td>
                    <td>{{ this.products[i].price }}</td>
                    <td>{{ this.products[i].price * item.quantity }}</td>
                </tr>
                <tr class="separator">
                    <td colspan="3">Total</td>
                    <td>{{ order.totalPrice }} EUR</td>
                </tr>
            </tbody>
        </table>
        <a [routerLink]="['/detailedOrder', order.id]" class="btn btn-primary" style="float:right">See detail</a>
    </div>
</div>