<h1>Order detail</h1>
<div *ngIf="loadingDone" class="card" style="margin-bottom : 10px ;">
    <div class="card-header">
        <span class="d-inline-block" >Ordered on : {{order.date}} |
        </span>
        <span  class="d-inline-block" >
            Order id : {{order.id}}
        </span>
        <span class="d-inline-block float-right">
            Status : {{order.state}}
        </span>
    </div>
    <div class="card-body">
        <p class="card-text" >Deliver to : {{order.user.lastName}} {{order.user.firstName}} ({{order.user.login}})</p>
        <p class="card-text" >At : {{order.address.street1}} {{order.address.street2}} {{order.address.city}}
            {{order.address.zipCode}} {{order.address.country}}</p>
        <p class="card-text" >By : {{order.transportationMethod.name}}</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" >Product</th>
                    <th scope="col" >Quantity</th>
                    <th scope="col">Price per unit</th>
                    <th scope="col">Total</th>
                </tr>
            <tbody>
                <tr *ngFor="let item of order.orderLine;let i = index; ">
                    <td>
                        <a class="alert-link" [routerLink]="['/displayProduct', item.prod]">{{ this.products[i].name }}</a>
                    </td>
                    <td>
                        {{item.quantity}}
                    </td>
                    <td>{{ this.products[i].price }}</td>
                    <td>{{ this.products[i].price * item.quantity }}</td>
                </tr>
                <tr class="separator">
                    <td colspan="3">Total</td>
                    <td>{{ order.totalPrice }} EUR</td>
                </tr>
            </tbody>
        </table>
        <a *ngIf="!downloading" (click)="generatePDF()" class="btn btn-primary" >Download pdf</a>
        <mat-progress-spinner *ngIf="downloading" [diameter]="40" [color]="'blue'" [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div>
</div>
<a [routerLink]="['/orders']" class="btn btn-primary">Back to your order list</a>
