<h1>Your orders :</h1>
<div [ngSwitch]="isAuthenticated()">
    <div *ngSwitchCase="false">
        You need to be logged in order to access to your orders.
        <button class="btn" (click)="logIn()">Connect</button>
    </div>
    <div *ngSwitchCase="true">
        <p *ngIf="!hasOrders()"> No orders to display !</p>
        <jhi-order-item *ngFor="let order of orders; let i = index;" [order]=order.order [products]= order.products></jhi-order-item>
    </div>

    <div *ngIf="orders && orders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>