<div class="card fullHeight">
    <div class="card-body">
        <h4 class="card-title">Order in progress</h4>
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <h5>Delivery Method</h5>
                <ul *ngIf="order.transportationMethod == null"> 
                    <li >To be selected</li>
                </ul>
                <ul *ngIf="order.transportationMethod != null">
                    <li>{{order.transportationMethod.name}}</li>
                </ul>
        
            </div>
            <div class="list-group-item">
                <h5>Delivery Address</h5>
                <ul *ngIf="order.address == null"> 
                    <li >To be selected</li>
                </ul>
                <ul *ngIf="order.address != null">
                    <li>{{order.address.street1}}</li>
                    <li *ngIf="order.address.street2 != null" >{{order.address.street2}}</li>
                    <li>{{order.address.country}} {{order.address.zipCode}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
