<div class="fullHeigth">
    <div>
        <router-outlet name="navbar"></router-outlet>
    </div>
    <div class="mainAndFooter">
        <div class="row mainBody">
            <jhi-sidebar class="col-2 bodyHeight sidebarMargin" *ngIf="sidebar"></jhi-sidebar>
            <div class="col-10  {{cssClass}}">
                <div class="card jh-card bodyHeight" >
                    <router-outlet></router-outlet>
                    <router-outlet name="popup"></router-outlet>
                </div>
                <jhi-footer class="offset-1 col-10"></jhi-footer>
            </div>
        </div>
    </div>

</div>
