/* Style page content */
.mainBody {
    margin-top: 20px;
    min-height: 100%;
}

.fullHeigth {
    height: 100%;
}
.mainAndFooter {
    position: relative;
    height: 90%;
    margin-top: 20px;
}

.sidebarMargin {
    padding-top: 10px;
}

.bodyHeight {
    min-height: 80%;
}
