<jhi-breadcrumb [breads]="['Home']" [routes]="['/']"></jhi-breadcrumb>

<div class="row">
    <div>
        <h2 class="col-12" style="margin-bottom: 15px">{{pageTitle}}</h2>
        <h4 class="col-12" *ngIf="searchComplex !== null"> {{searchComplex}}</h4>
    </div>
</div>

<div class="row">
    <jhi-product-item    class="col-3" *ngFor="let product of allProducts" style="margin-bottom: 45px"
                         [product]=product>
    </jhi-product-item>
    <div class="col-12" *ngIf="allProducts.length == 0">No product found</div>
</div>
